

/* Customize nav bar */
.navbar-light .navbar-brand {
    background-color:teal;
    color: white;
    font-size: 30px;
    padding: 30px;
    margin-left: 10.5%;
    /* position: relative;
    left: 10%; */
}

.navbar-nav {
    padding-left: 80%;
}

.navbar navbar-expand-lg navbar-light bg-light {
    padding-bottom: 0;
}

/* .container {
    background-color: yellow;
} */

/* Set background customization  */
body {
    background-image: url(../responsiveportfolio/assets/images/greenbckgd.png);
}

h2 {
    color: teal;
    border-bottom: 1px solid gray;
}

/* Customize image size and position */
#imgofme {
    /* display: block; */
    float: left;
    width: 200px;
    height: 150px;
    padding: 20px;
}

.content  {
    width: 960px;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 11%;
}


/* Set sticky footer settings */
footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 93%;
    text-align: center;
}

/* If the screen size is 600px or more, perform the following */
@media only screen and (min-width: 601px) {
    .content {
        width: 960px;
    }
}

@media only screen and (max-width: 600px) {
    .content {

    }

}